
<html> 
  <head>   
    <title>Title here...</title>
    <link rel="stylesheet" href="/styles/home-page.css"/>
  </head>
  <body> 
    <header class="header-container"> 
      <div class="left-side"><img src="/images/RoeStack-LOGO.svg"/></div>
      <div class="center"> 
        <form class="search-box" id="globalSearch">
          <button class="search-button" type="submit"><img src="/images/icons/search.svg" alt="Search Icon"/></button>
          <input type="text" id="searchInput" placeholder="Search..."/>
        </form>
      </div>
      <div class="left-side">
        <div class="menu-bar">
          <div class="menu-option"> <img src="/images/icons/houseActive.svg" alt="Home Icon"/><a>Home</a></div>
          <div class="menu-option"> <img src="/images/icons/compass.svg" alt="Explore Icon"/><a>Explore</a></div>
          <div class="menu-option"> <img src="/images/icons/plus-square.svg" alt="Add Post Icon"/><a>Add Post</a></div>
          <div class="menu-option"> <img src="/images/icons/person.svg" alt="Profile Icon"/><a>Profile</a></div>
        </div>
      </div>
    </header>
  </body>
</html>