a(href="/community/"+community.id).community-card
    img.community-cover(src="/images/default-community-cover.svg" alt="Community Cover")
    .community-info
        .top
            .info
                .community-name= community.name
                span.followers= `${community.amountUsers} followers`
            if content.session.user.communities.includes(community.id)
                button.leave-btn Leave
            else
                button.join-btn Join
        .line 
        .community-description= community.description