header.header-container
    .left-side
            img(src="/images/RoeStack-LOGO.svg")
    .center 
        form(id="globalSearch" class="search-box")
            button(type="submit" class="search-button")
                img(src="/images/icons/search.svg" alt="Search Icon")
            input(type="text" id="searchInput" placeholder="Search...")
    .right-side
        .menu-bar
            .menu-option 
                img(src="/images/icons/house-icon.svg" alt="Home Icon")
                a(href="/") Home
            .menu-option 
                img(src="/images/icons/compass.svg" alt="Explore Icon")
                a(href="/explore") Explore
            .menu-option 
                img(src="/images/icons/plus-square.svg" alt="Add Post Icon")
                a(href="/") Add Post
            .menu-option 
                img(src="/images/icons/person.svg" alt="Profile Icon")
                a(href="/") Profile