
.post-box 
    .top-section
        .left-side
            img.avatar(src="/images/none-avatar.svg" alt="User Avatar")
            .user-info
                .top-line
                    a.username(href="/user/" + user.id)= user.name
                    span.dot •
                    span.post-time Created #{user.elapsedTime}
                .role Student
        .right-side
            .container 
                .community-name
                    if (user.isMod)
                        b Moderator
                    else   
                        b User
            //- JE - Added dropdown menu to the three dots button.
            //- When a mod is viewing a non-mod user, a Ban option appears in the menu.
            //- toggleMenu is an existing JS function used elsewhere in the project.
            button.icon-btn(type="button" onclick="toggleMenu(this)")
                img.options(src="/images/icons/three-vertical-dots.svg" alt="Options Icon")
            ul.dropdown-menu
                if content.session.user.isMod && !user.isMod
                    li
                        a(href="#") Ban
    .post-content 
        p= user.bio