extends ../layout
block content 
    .title-section 
        h2(style="font-size: 32px; margin-bottom: 50px;") Explore Communities
        button.create-community-btn(onclick="window.location.href='/create-community'") Create community
    h2.section-divider Communities 
    .community-grid 
        each community in content.communityList
            include ../partials/community-card.pug