extends ../layout

block head
    link(rel="stylesheet", href="/styles/homepage.css")

block content 
    .sorting-buttons 
        a.sort-btn(class= activeSort === "latest" ? "active-latest" : "", href=addQueryParam(req.originalUrl, 'sortby', 'latest')) 
            i.fa-regular.fa-clock 
            p Latest 
        a.sort-btn(class= activeSort === "popular" ? "active-popular" : "", href=addQueryParam(req.originalUrl, 'sortby', 'popular')) 
            i.fa-solid.fa-fire  
            p Popular
        a.sort-btn(class= activeSort === "forYou" ? "active-for-you" : "", href=addQueryParam(req.originalUrl, 'sortby', 'foryou'))
            i.fa-solid.fa-heart 
            p For You

    .sad-cat(class = posts.length === undefined ? "show" : "")
        img(src="/images/sad-cat.png", alt="a picture of a sad cat")
        p No posts found, very sad :(
    .posts 
        each post in posts 
            include ../partials/post.pug

    
