

block content

  link(rel="stylesheet", href="/styles/layout.css")
  link(rel="stylesheet", href="/styles/invalid.css")
  
  .error-container
    .error-card
      .error-icon
        i.fas.fa-exclamation-triangle
      h1.sidebar-title Oooops! Wrong way!
      p.error-text It looks like you took a wrong turn or don't have permission to be here.
      
      .action-area
        a.back-home-btn(href="/") 
          i.fas.fa-house
          span Click here to get back home