.welcome-banner#welcome-banner
    .welcome-banner-content
        button.welcome-banner-close(type="button" aria-label="Close" onclick="dismissWelcomeBanner()") &times;
        h2.welcome-banner-title Demo Build
        h3.welcome-banner-text  Welcome to RoeStack!
        p.welcome-banner-text2 Built by and for University of Roehampton students. This is a live demo, some features are limited, but feel free to look around.
        a.welcome-banner-link(href="https://github.com/Enuii02/RoeStack/tree/main" target="_blank" rel="noopener") View the project on GitHub
