/* Top section */

.title-section {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-community-btn {
    width: 192px;
    height: 34px;
    border-radius: 9px;
    background-color: #054F00;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.create-community-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 2px 0px #00000040;
}

/* Divider */

.section-divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20;
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section-divider::before,
.section-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
}

.section-divider::before {
    margin-right: 20px;
}

.section-divider::after {
    margin-left: 20px;
}