.sorting-buttons {
    margin-bottom: 42px;
    display: flex;
}

.sort-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 85px;
    height: 38px;
    margin-right: 19px;
    font-weight: 400;
    border-radius: 5px;
    border: #004E36 1px solid;
    box-shadow: 0px 0px 4px 0px #00000040;
    text-decoration: none;
    color: inherit;
    gap: 5px; 
    padding-inline: 5px;
}

.active-latest {
    background-color: #004E36;
    color: #ffffff;
}

.active-popular {
    background-color: #E18700;
    color: #ffffff;
    border: none
}

