.post-box {
  background-color: white;
  border-radius: 21px;
  padding: 33px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
.top-section .left-side {
  display: flex;
  gap: 14px;
  align-items: center;
}
.top-section .avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info .top-line {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info .username {
  font-size: 24px;
  color: black;
}
.user-info .dot,
.user-info .post-time {
  font-size: 15px;
  color: #7f7f7f;
}
.user-info .role {
  font-size: 15px;
  color: #888888;
}
.top-section .right-side {
  position: relative;
  display: flex;
  align-items: start;
  gap: 8px;
}
.right-side .container {
  display: flex;
  border-color: #004e36;
  border-width: 1.5px;
  border-style: solid;
  align-items: center;
}
.right-side button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.right-side .category-box {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #004e36;
  padding: 6px 13px;
  font-size: 14px;
  color: #f6f6f6;
}

.category-box img {
  height: 18px;
  width: 18px;
}
.right-side .community-name {
  font-size: 14px;
  padding: 0 13px;
  color: black;
}
.post-footer {
  display: flex;
  margin-top: 20px;
}
.post-footer .left-side {
  display: flex;
  gap: 41px;
  align-items: center;
}
.left-side .interactions {
  display: flex;
  height: 26px;
  border-radius: 8px;
}
.interactions button {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  height: 100%;
  align-items: center;
  transition: background-color 0.5s ease;
}
.interactions .upvote {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}
.interactions .downvote {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.interactions .upvote.active {
  background-color: #004e36;
}
.vote-icon {
  filter: brightness(0) invert(1);
}
.interactions .downvote.active {
  background-color: red;
}

.interactions .vote-count {
  background-color: #f6f6f6;
  height: 100%;
  font-size: 15px;
  padding: 0 14px;
  align-content: center;
  cursor: default;
}
.interactions button.upvote:hover {
  background-color: #004e36;
}
.interactions button.downvote:hover {
  background-color: red;
}
.left-side .answers {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #4e4e4e;
  font-size: 12px;
}
.post-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.post-content {
  font-size: 16px;
  color: #4e4e4e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  margin-top: 6px;
  list-style: none;
  padding: 6px 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background: #f3f3f3;
}

.dropdown-menu.show {
  display: block;
}

/* for single post page */
.main-answer {
  width: 100%;
  padding: 14px 30px;
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  font-size: 15px;
  margin-top: 27px;
  background-color: #f3f3f3;
  color: #888888;
  font-style: italic;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  position: relative;
  width: fit-content;
}

.sort-btn {
  font: inherit;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  gap: 5px;
}

.sort-btn p {
  font-weight: 500;
  color: #3e3e3e;
  font-style: italic;
}

.divider p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.divider .sort-label {
  margin-right: 10px;
}

.fa-solid.fa-angle-down {
  align-self: center;
}

.line {
  border-bottom: #b6b6b6 1px solid;
  margin-top: 17px;
}
.post-box a {
  text-decoration: none;
  color: #000000;
}

.answer-btn {
  display: none;
  pointer-events: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 12px;
  border-style: solid;
  justify-self: end;
  background-color: #efefef;
  color: #888888;
}

.form-answer.active .answer-btn {
  display: block;
  pointer-events: auto;
}

.answer-btn:disabled {
  cursor: not-allowed;
}

.answer-btn:not(:disabled) {
  background-color: #004e36;
  color: #f6f6f6;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
}
