html 
    head    
        title RoeStack
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="/styles/layout.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> 
        block head   // <--- child templates can inject CSS here
    body 
        include ./partials/header.pug

        .layout 
            include ./partials/left-sidebar.pug

            main.content 
                block content 
            
            include ./partials/right-sidebar.pug
        script(src="/js/sidebar.js" defer)

        block scripts // <--- child templates can inject JS here

